* {
  box-sizing: border-box;
}





body {
  /* change the fonts */
  font-family: "Rajdhani";
  padding: 2rem;
  color: #001c55;
}

.element {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;


}

/* intext link-------- */

.element-intext {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;


}





.element-intext a {
  text-decoration: none;

}

.element-intext a:hover {
  text-decoration: underline;
}


@media screen and (max-width:600px) {


  .button-nav {
    display: block;
    max-width: fit-content;
    padding: 3rem;
  }
}




section {
  /* add space between section */
  margin-top: 6rem;
}

/* heading */

h1 {
  margin-top: 8rem;
  font-family: "Montserrat";
}



h2 {
  margin-top: 6rem;
  font-family: "Montserrat";
}

h3 {

  margin-top: 1rem;
  font-family: "Montserrat";
}

h4 {
  margin-bottom: 0.25rem;
  font-family: "Montserrat";
}

h5 {
  margin-bottom: 0.2rem;
  font-family: "Montserrat";
}

/* paragraph-------- */

.element-para {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;




}

.element-para p {
  margin-left: 60px;
  margin-right: 60px;
  max-width: 90%;

}

/* list------- */


.element-list {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;


}

.element-list li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}



p {
  /*Shorten the default width */


  margin-top: 0;
  color: #001c55;

}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  margin: 0 2rem;
  text-decoration: none;
  color: #001c55;
  padding: 0.3rem;
  transition: color 1s;
  transition: background-color 1s;
  border-radius: 3px;
  background-color: #dbe7f1;
}






.button-nav:hover,
.button-nav:focus {
  border-bottom: 2px solid rgb(232, 221, 217);
  color: rgb(232, 221, 217);
  background-color: rgb(140, 140, 240);
}



/* 
  TEXT ELEMENTS -------------------
*/

input {
  /*  */

  font-size: 1rem;
  text-decoration: none;
  color: black;
  background-color: rgb(193, 191, 212);
  border: rgb(170, 239, 255);
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.4s;
}

input:hover,
input:focus,
input:active {
  /* hover for in-text link */
  color: #EEE;
  background-color: rgb(123, 110, 208);
  border: 1px solid rgb(170, 239, 255);

}

label {
  color: rgb(94, 94, 193);
  font-size: 1rem;
  padding: 0.5rem;
}


/* 
  COMBINED ELEMENTS -------------------
*/

.main_nav a {
  margin: 3rem;
  text-decoration: none;
  color: #001c55;
  padding: 0.3rem;

  transition: color 0.8s;
  transition: background-color 0.8s;
  border-radius: 3px;
  background-color: #dbe7f1;
}

.main_nav a:hover,
.main_nav a:focus {
  border-bottom: 2px solid #dbe7f1;
  color: #dbe7f1;
  background-color: rgb(151, 151, 247);
}



img {
  max-width: 100%;

  height: auto;
}

a img:hover,
a img:focus,
a img:active {
  /* hover for image */
  max-width: 100%;
  border: 3px solid gray;
  height: auto;
  filter: drop-shadow(5px 5px, 10px gray);
  opacity: 0.7;
}

li {
  padding: 1rem;
}

/* product card section */

.product {
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  margin: auto;
  gap: 1rem;
  flex-wrap: wrap;


}

.product_card_heading {
  font-family: "Rajdhani";
}

.product>div {

  transition: box-shadow 0.5s;
  width: 20%;
  flex: 1;


}

.product>div:hover {
  box-shadow: 0px 2px 20px gray;

}

.product img {
  width: 100%;
}

.product_card_info {
  padding: 0.2rem;
  margin-left: 0.5rem;
}





.product_card_info>h2 {
  margin-top: 1rem;
  font-size: 1.2rem;


}

.product_card_info h2 a {
  color: #001c55;
  text-decoration: none;

}




.product_card_info p:nth-of-type(2) {
  font-size: 0.9rem;

}

@media only screen and (max-width: 1000px) {
  .product_card {
    min-width: 45%;
    flex: 1;
  }
}

@media only screen and (max-width: 600px) {
  .product_card {
    min-width: 98%;
    flex: 1;
  }
}





.product_card_price {

  color: #001c55;

}

.product_card_platform {
  color: #001c55;
}





/*  payment section */

.payment {
  max-width: 50rem;
  background-color: #dddddd;
  padding: 1rem;
}

.payment h2 {
  margin-top: 1rem;

}

.payment label {

  display: block;
}

.payment input {

  width: 100%;
  padding: 0.8rem;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 1.3rem;
}

/* payment method section */

.payment_method label {
  display: inline;
  margin-right: 1rem;
}

.payment_method input {
  width: 20px;
}

.expDate {
  display: flex;
  gap: 1rem;
}

.expDate>div {
  flex: 1;
}

.expDate input {
  width: 100%;
}

/* check out cart section------- */


.cart-bgcolor {
  width: 40%;
  background-color: #dddddd;
  padding: 1rem;
}

.cart {

  background-color: rgba(185, 183, 189, 0.317);
  display: flex;
  max-width: 100%;
  min-width: fit-content;
  gap: 2rem;
  margin-top: 1rem;
  padding: 1rem;

}

.cart-info {
  overflow: scroll;
}




@media screen and (max-width:500px) {
  .cart {
    flex-direction: column;
  }
}



.cart-image {
  width: 40%;
  min-width: 50%;

}

.cart-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout_heading {
  font-family: "Rajdhani";
}



.cart-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cart-info div:nth-last-of-type(1) {
  display: flex;
  justify-content: space-between;
}

.cart input {

  width: 100%;
  padding: 0.8rem;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 1.3rem;
  margin-top: 1rem;

}

.total {
  max-width: 50rem;
  margin-top: 30px;
  display: flex;
  padding-right: 30px;
}

.total p {

  padding-right: 30px;

}

/* font------- */

.text {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}

.font1 {
  font-family: "Rajdhani";
  width: 21rem;
  display: block;
  padding: 2rem;
  text-align: center;

  background-color: #dddddd;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.font2 {
  font-family: "Montserra";
  width: 21rem;
  display: block;
  padding: 2rem;
  text-align: center;
  background-color: #dddddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* color palette------- */

.purple {
  width: 21rem;
  background-color: #9797f7;
  padding: 2rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.light_blue {
  width: 21rem;
  background-color: #dbe7f1;
  padding: 2rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blue {
  width: 21rem;
  background-color: #001c55;
  padding: 2rem;
  display: block;
  color: #EEE;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blue p {
  color: #EEE;
}


.gray {
  width: 21rem;
  background-color: #dddddd;
  display: block;
  padding: 2rem;

  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

}




.color-palette {

  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;


}

.imagery {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
  gap: 1rem;
  flex-wrap: wrap;

}


.footer {
  background-color: #3c1361;
  color: #ffffff;
  font-family: Montserrat;
  margin-left: 0px;
  padding: 60px 0;
}

.footer a{
  color:#ffffff;
  text-decoration:none;
}

.footer-col{
  width:33%;
  padding: 0 15px;
  
}
.footer-col ul li a{

  font-size: 16px;

  font-family: sans-serif;
  margin-left: -20px;
  margin-bottom: 8px;
  color: rgba(216, 229, 232, 0.953);
  margin-left: 30px;

}

.footer-col h4{
  font-size: 25px;
  text-transform: capitalize;
  margin-top: -10px;
  margin-left: 70px;

}

.row{
  display:flex;
  flex-wrap:wrap;
}

.container {  
  max-width: 1170px;
  margin: auto;
}

footer ul{
  list-style:none;
  
}
.social-links a i
{
  margin-right: 50px;
 
}
.container
{
  height: 130px;
}