*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* hero section */

.hero{
   
    background-repeat: no-repeat;
    background-size: cover;
  
    height:55vw;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero.floating{
    z-index: 1;
}

.header-bot
{
    position: sticky;
    top: 0px;
}