@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');



* {
   

    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: "Rajdhani";
}

img {
    max-width: 100%;
    height: auto;
  }


/* in-text link*/

a.in-text-link {}

a.in-text-link:hover,
a.in-text-link:focus {}

/* image as link */
a.img-link img {}

a.img-link:hover img,
a.img-link:focus img {}

a.btn-link {
    color: #3c1361;
    font-weight: bold;
    background-color: white;
    transition: all 0.3s;
    border-radius: 20px;
    padding: 1rem 4rem;
    text-decoration: none;

    position: absolute;
    bottom: 15%;


}

a.btn-link:hover,
a.btn-link:focus {
    background-color: #3c1361;
    color: #ffffff;
}
.fixedheaderpart
{
    position: sticky;
    top: 0px;
}


/* heading */
h1,
h2,
h3,
h4 {
    font-family: 'Rajdhani', sans-serif;

}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}

input [type="text"]:hover,
input[type="text"]:focus {
    background-color: #e1e1e1;
    border: 2px solid #3c1361;

}

.nav-btn-link {
    color: #3c1361;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.nav-btn-link:hover,
.nav-btn-link:focus {
    border-bottom: 2px solid #3c1361;



}

/* header */

.header-top {
    text-align: center;
    background-color: #3c1361;
    padding: 0.5rem 0;
}



.header-top p {
    margin: 0;
}



.header-top a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.header-top a:hover,
.header-top a:focus {
    text-decoration: underline;
}



.header-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  

}
.hero video

{
    width: 100%;
    z-index: -1;
}


.header-mid .header-bot {
    position: fixed;
}

.header-mid .mobile-icon {
    display: none;

}

.header-mid>div {
    flex-basis: 33.3%;
}

.header-mid .search-bar {
    text-align: center;
    color: #3c1361;
    justify-content: center;


}

.header-mid input {
    width: 60%;
}

.header-mid .logo img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo a img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}





.header-mid .sign-cart {
    text-align: right;
    display: flex;

    justify-content: right;


}

.sign-cart a {
    color: #3c1361;

}

.sign-cart a:hover,
.sign-cart a:focus {
    color: #b491c8;

}


.sign-cart i {
    font-size: 1.3rem;
    margin: 0 1rem
}

.header-bot {
    text-align: center;
}

.header-bot.floating-bar {
    position:fixed;
    top:0;
    background:white;
    z-index: 99;
    width: 100%;
}

.header-bot li {
    list-style-type: none;
    display: inline;
    align-items: start;
    margin: 6rem;
    padding: 0;
}

.header-bot1 a
{
    margin-right: 50px;
    margin-left: 160px;


}
.header-bot1
{
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}


/*Hamburger menu*/
.hamburger_menu_container {
    display: none;

}

#menu_icon_button {
    padding: 0;
    z-index: 3;
    font-size: 1.3em;
    border: none;
    color: #3c1361;
}
.menu_icon {
    z-index: 2;
    transition: transform ease-in-out 0.1s;
    font-size: 1.3em;
    color: #3c1361;
}

#menu_icon_button:hover>i{
    color: #b491c8;
}

.menu_item {
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    transition: background-color ease-in-out 0.1s;
}
.box-item-image img
{
 height: 500px;
 width: 350px;
}
.box-item-image2 img{
 height: 500px;
 width: 350px;

}
.buy a{
    border: solid 0px white;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(57, 57, 146);
     color: white;
     text-decoration: none;
    
}


.menu_item:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

.menu_container {
    background-color: rgba(255, 255, 255, 0.514);
    /* border-radius: 0.5em; */
    display: flex;
    align-items: start;
    gap: 1rem;
    flex-direction: column;
    padding: 2.5em;
    position: fixed;
    left: -110%;
    top: 0;
    /* top: 0.5em; */
    /* margin: 0.5em; */
    box-shadow: -0.5em -0.5em 2em 1em rgba(0, 0, 0, 0.158);
    backdrop-filter: blur(10px);
    transition: left ease-in-out 0.25s;
    z-index: 1;
   
  

}
.menu_container1 a{
    position: sticky;
    top: 0;
}



.menu_container hr {
    width: 100%;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
}

/*////////////////////////////////////////////////*/

@media screen and (max-width:1125px) {

    .header-mid .mobile-icon {
        display: block;

    }

    .header-mid .search-bar {
        display: none;

    }

    .header-mid .logo img {
        width:80%; 


    }

    .header-mid .logo {
        display: flex;
        justify-content: center;
    }

    .header-bot {
        display: none;
        align-items: start;
    }
    .header-bot a{
        position: sticky;
        top: 0;
    }
    

    .hamburger_menu_container {
        display: flex;
    }
}

/* .box-item-text
{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
} */

.headersHome
{
    font-size: 50px;
    font-family: sans-serif;
}
/* .box-item-text2
{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */


/* Footer section */



.footer {
    

    background-color: #3c1361;
    color: #ffffff;
    font-family: Montserrat;
    margin-left: 0px;
    padding: 60px 0;
  }

.footer a{
    color:#ffffff;
    text-decoration:none;
    
    
    
}

.footer-col{
    width:33%;
    padding: 0 15px;
    
}
.footer-col ul li a{

    font-size: 16px;

    font-family: sans-serif;
    margin-left: -20px;
    margin-bottom: 8px;
    color: rgba(216, 229, 232, 0.953);
    margin-left: 30px;

}

.footer-col h4{
    font-size: 25px;
    text-transform: capitalize;
    margin-top: -10px;
    margin-left: 70px;

}

.row{
    display:flex;
    flex-wrap:wrap;
}
  
  .container {  
    max-width: 1170px;
    margin: auto;
  }

  footer ul{
    list-style:none;
    
  }
  .social-links a i
  {
    margin-right: 50px;
   
  }
  .container
  {
    height: 130px;
  }
  .row
  {
    
  }

  .cart-bgcolor {
    width: 40%;
    background-color: #dddddd;
    padding: 1rem;
  }
  
  .cart {
  
    background-color: rgba(185, 183, 189, 0.317);
    display: flex;
    max-width: 100%;
    min-width: fit-content;
    gap: 2rem;
    margin-top: 1rem;
    padding: 1rem;
  
  }
  
  .cart-info {
    overflow: scroll;
  }
  
  
  
  
  @media screen and (max-width:500px) {
    .cart {
      flex-direction: column;
    }
  }
  
  
  
  .cart-image {
    width: 40%;
    min-width: 50%;
  
  }
  
  .cart-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .checkout_heading {
    font-family: "Rajdhani";
  }
  
  
  
  .cart-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .cart-info div:nth-last-of-type(1) {
    display: flex;
    justify-content: space-between;
  }
  
  .cart input {
  
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
  
  }
  
  .total {
    max-width: 50rem;
    margin-top: 30px;
    display: flex;
    padding-right: 30px;
  }
  
  .total p {
  
    padding-right: 30px;
  
  }
  
  /* font------- */
  
  .text {
    display: flex;
    justify-content: space-around;
  
    flex-wrap: wrap;
  }
  
  
  